{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<h1>About</h1>
<div>
    <p>
        Welcome to our site. Top Trumps© is a card game that has existed for many years. As you will learn, each deck
        contains a
        set of cards with an image of an object or individual. Under the image is a set of data about that item or
        individual. I
        first played the game as a child in the late 80s with decks about Tanks and Marvel comic book heroes.

        Over the years the number of topics and therefore decks has increased massively. What this means is that the
        simple-to-play game now has decks that could appeal to children and young people of a wide range of interests.
        This
        makes it an incredibly powerful tool for engaging learners in a wide range of lessons. The attributes on each
        card open
        up a wide range of possible numeracy activities while the images and any additional information lend themselves
        to great
        literacy activities. You can take one set of lesson activities and a range of decks and have everyone in the
        class
        working on an activity you have created but each eagerly engaging with a topic they are fond of.

        Of course, there are decks that specifically cover topics that might seem subject or topic specific such as the
        solar
        system, historical figures, volcanoes and many more. In the unlikely event that you can’t find a dec on a topic
        you wish
        to cover, creating your own is always an option.

        I’ve created this site to provide a range of useful tools for those interested in using Top Trumps or similar
        card games
        to create exciting learning activities. This site consists of:
        A bank of downloadable and printable learning resources and lesson ideas.
        An interactive game where learners can play Top Trumps against the computer
        A database of various decks of cards for use in research projects.
        In the future, there will also be a feature to add your own decks to the database.

    </p>
</div>
{% endblock %}