{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Bebas+Neue&family=Lexend&family=Sigmar+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{  url_for('static',filename='css/style.css')  }}">

    {{ ckeditor.load() }}
{% endblock %}

<!-- {% include 'navbar.html' %}-->

{% include 'flash.html' %}
{% include 'navbar.html' %}

<header>
    <h1>Top Trumps</h1>
</header>
{% block content %}

{% endblock %}

{% block subcontent %}
    
{% endblock %}
<footer>
    <div class="footer-menu">
        <ul>
            <li>
                <a href="{{url_for('index')}}">Home</a>
            </li>
            <li>
                <a href="{{url_for('about')}}">About</a>
            </li>
            <li>
                <a href="{{url_for('play')}}">Play</a>
            </li>
            <li>
                <a href="{{url_for('learn')}}">Learn</a>
            </li>
            <li>
                <a href="{{url_for('trumpopedia')}}">Trumpopedia</a>
            </li>
        </ul>
    </div>
    <div class = "footer-copyright">
        <p>(c)Adam's Web Works 2023</p>
    </div>
</footer>
<script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>