{% extends 'base.html' %}

{% block title %}
Learn
{% endblock %}

{% block content %}
<h1>Learn</h1>
<div class="card-grid">
    <div class="card">
        <div class="card-header">
            <h3>header</h3>
        </div>
        <div class="card-thumb">
            thumb
        </div>
        <div class="card-text">
            <p>text</p>
        </div>
    </div>    
    <div class="card">
        <div class="card-header">
            <h3>header</h3>
        </div>
        <div class="card-thumb">
            thumb
        </div>
        <div class="card-text">
            <p>text</p>
        </div>
    </div>
</div>
{% endblock %}

