<nav class="navbar">
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="navbar-links">
        <ul>
            <li> 
                <a class="nav-home" href="{{url_for('index')}}">Home</a>
            </li>
            <li>
                <a class="nav-play" href="{{url_for('play')}}">Play</a>
            </li>
            <li>
                <a class="nav-opedia" href="{{url_for('trumpopedia')}}">Trumpopedia</a>
            </li>
            <li>
                <a class="nav-learn" href="{{url_for('learn')}}">Learn</a>
            </li>
        </ul>
    </div>

</nav>
<script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>